* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.main-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4D04E;
}

.card{
    height: 70%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.blog-img{
    height: 45%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./illustration-article.svg");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.learning{
    margin-top: 15px;
}
.badge{
    display: inline-block;
    background-color: #F4D04E;
    padding: 5px;
    font-weight: 700;
    border-radius: 5px;
}

.learning .date {
    margin-top: 10px;
}

.main-text{
    margin-top: 10px;
}

.main-text p{
    margin-top: 10px;
    letter-spacing: 1px;
    color: #7F7F7F;
}
.contact-details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px
}
.contact-details .author-img img{
    height: 40px;
    width: 40px;
}

.contact-details .author-details p{
    font-weight: 700;
}
